:root {
	--dwarningbdbembedlogolight: url('https://github.com/DerAdministrator/Neon-Space-X/blob/master/K.png');
	--dwarningbdbembedlogodark: url('https://github.com/DerAdministrator/Neon-Space-X/blob/master/K.png');
	--dwarningbdblinklogo: url('https://github.com/DerAdministrator/Neon-Space-X/blob/master/K.png');
	--dwarningbdbguildlogo: url('https://github.com/DerAdministrator/Neon-Space-X/blob/master/K.png');

	--warningbdbembedlogolight: var(--BetterDocsBlockerWarnLogo,var(--dwarningbdbembedlogolight));
	--warningbdbembedlogodark: var(--BetterDocsBlockerWarnLogo,var(--dwarningbdbembedlogodark));
	--warningbdblinklogo: var(--BetterDocsBlockerWarnLogo2,var(--dwarningbdblinklogo));
	--warningbdbguildlogo: var(--BetterDocsBlockerWarnLogo3,var(--dwarningbdbguildlogo));

	--warningbdbred: var(--BetterDocsBlockerRed,#F04747);
	--warningbdbbackgroundlight: var(--BetterDocsBlockerBlack1,#FDFDFD);
	--warningbdbbackgrounddark: var(--BetterDocsBlockerBlack1,#34363C);
	--warningbdbborderlight: var(--BetterDocsBlockerRed,#EEEEEE);
	--warningbdbborderdark: var(--BetterDocsBlockerRed,#313338);
	--warningbdbcolorlight: var(--BetterDocsBlockerWhite,rgba(79,83,91,.9));
	--warningbdbcolordark: var(--BetterDocsBlockerWhite,hsla(0,0%,100%,.6));
}

body #app-mount .container-1YxwTf .markup-2BOw-j > .anchor-3Z-8Bb[href*="www.discordsource." i]::after,
body #app-mount .container-1YxwTf .markup-2BOw-j > .anchor-3Z-8Bb[href*="://discordsource." i]::after,
body #app-mount .container-1YxwTf .markup-2BOw-j > .anchor-3Z-8Bb[href*="www.betterdocs." i]::after,
body #app-mount .container-1YxwTf .markup-2BOw-j > .anchor-3Z-8Bb[href*="://betterdocs." i]::after {
	content: var(--warningbdblinklogo) !important;
	position: relative !important;
	top: 3px !important;
	margin: 0 2px !important;
}

body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="www.discordsource." i],
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="://discordsource." i],
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="www.betterdocs." i],
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="://betterdocs." i] {
	height: 70px !important;
}

body #app-mount .embed-IeVjo6 .embedThumbnail-2Y84-K[href*="www.discordsource." i],
body #app-mount .embed-IeVjo6 .embedThumbnail-2Y84-K[href*="://discordsource." i],
body #app-mount .embed-IeVjo6 .embedThumbnail-2Y84-K[href*="www.betterdocs." i],
body #app-mount .embed-IeVjo6 .embedThumbnail-2Y84-K[href*="://betterdocs." i] {
	display: none !important;
}

body #app-mount .embedLink-1G1K1D[href*="www.discordsource." i],
body #app-mount .container-1YxwTf .markup-2BOw-j .anchor-3Z-8Bb:not(.channelLink-2TxEu3):not(.guildsError-3cFMtY):not(.guildsError-b7zR5H):not(.embedAuthorName-3mnTWj):not(.downloadButton-1bWXpg):not(.downloadLink-1ywL9o)[href*="www.discordsource." i],
body #app-mount .embedLink-1G1K1D[href*="://discordsource." i],
body #app-mount .container-1YxwTf .markup-2BOw-j .anchor-3Z-8Bb:not(.channelLink-2TxEu3):not(.guildsError-3cFMtY):not(.guildsError-b7zR5H):not(.embedAuthorName-3mnTWj):not(.downloadButton-1bWXpg):not(.downloadLink-1ywL9o)[href*="://discordsource." i],
body #app-mount .embedLink-1G1K1D[href*="www.betterdocs." i],
body #app-mount .container-1YxwTf .markup-2BOw-j .anchor-3Z-8Bb:not(.channelLink-2TxEu3):not(.guildsError-3cFMtY):not(.guildsError-b7zR5H):not(.embedAuthorName-3mnTWj):not(.downloadButton-1bWXpg):not(.downloadLink-1ywL9o)[href*="www.betterdocs." i],
body #app-mount .embedLink-1G1K1D[href*="://betterdocs." i],
body #app-mount .container-1YxwTf .markup-2BOw-j .anchor-3Z-8Bb:not(.channelLink-2TxEu3):not(.guildsError-3cFMtY):not(.guildsError-b7zR5H):not(.embedAuthorName-3mnTWj):not(.downloadButton-1bWXpg):not(.downloadLink-1ywL9o)[href*="://betterdocs." i] {
	color: var(--warningbdbred) !important;
	pointer-events: none !important;
}

body #app-mount .embedLink-1G1K1D[href*="www.discordsource." i]::selection,
body #app-mount .container-1YxwTf .markup-2BOw-j .anchor-3Z-8Bb[href*="www.discordsource." i]::selection,
body #app-mount .embedLink-1G1K1D[href*="://discordsource." i]::selection,
body #app-mount .container-1YxwTf .markup-2BOw-j .anchor-3Z-8Bb[href*="://discordsource." i]::selection,
body #app-mount .embedLink-1G1K1D[href*="www.betterdocs." i]::selection,
body #app-mount .container-1YxwTf .markup-2BOw-j .anchor-3Z-8Bb[href*="www.betterdocs." i]::selection,
body #app-mount .embedLink-1G1K1D[href*="://betterdocs." i]::selection,
body #app-mount .container-1YxwTf .markup-2BOw-j .anchor-3Z-8Bb[href*="://betterdocs." i]::selection {
	background-color: transparent !important;
}

body #app-mount .wrapper-35wsBm .icon-3o6xvg[style*="/icons/153708594091655168" i],
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="www.discordsource." i],
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="://discordsource." i],
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="www.betterdocs." i],
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="://betterdocs." i] {
	background: none !important;
	max-width: 100vw !important;
	min-width: 100vw !important;
	width: 100vw !important;
}
body #app-mount .wrapper-35wsBm .icon-3o6xvg[style*="/icons/153708594091655168" i]::before,
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="www.discordsource." i]::before,
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="://discordsource." i]::before,
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="www.betterdocs." i]::before,
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="://betterdocs." i]::before {
	align-content: center !important;
	align-items: center !important;
	background-color: var(--warningbdbbackgroundlight) !important;
	background-image: var(--warningbdbembedlogolight) !important;
	background-repeat: no-repeat !important;
	border: 1px solid var(--warningbdbborderlight) !important;
	border-left: 3px solid var(--warningbdbred) !important;
	border-radius: 5px !important;
	bottom: 0 !important;
	box-sizing: border-box !important;
	color: var(--warningbdbcolorlight) !important;
	cursor: not-allowed !important;
	display: flex !important;
	font-size: 14px !important;
	font-weight: 500 !important;
	height: unset !important;
	left: -4px !important;
	letter-spacing: 0 !important;
	margin: 0 !important;
	max-height: unset !important;
	max-width: unset !important;
	min-height: unset !important;
	min-width: unset !important;
	overflow: hidden !important;
	position: absolute !important;
    right: 0 !important;
	text-align: justify !important;
    top: 0 !important;
	white-space: pre-wrap !important;
	width: unset !important;
	z-index: 2 !important;
}
.theme-dark body #app-mount .wrapper-35wsBm .icon-3o6xvg[style*="/icons/153708594091655168" i]::before,
.theme-dark body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="www.discordsource." i]::before,
.theme-dark body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="://discordsource." i]::before,
.theme-dark body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="www.betterdocs." i]::before,
.theme-dark body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="://betterdocs." i]::before {
	color: var(--warningbdbcolordark) !important;
	background-color: var(--warningbdbbackgrounddark) !important;
	background-image: var(--warningbdbembedlogodark) !important;
	border-color: var(--warningbdbborderdark) !important;
	border-left-color: var(--warningbdbred) !important;
}

body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="www.discordsource." i]::before,
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="://discordsource." i]::before,
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="www.betterdocs." i]::before,
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="://betterdocs." i]::before {
	content: "BetterDocs/DiscordSource is not an official source, and should be treated as such. The owner posts peoples' themes and plugins without their permission, and also hosts content that would not be found on the official BetterDiscord repos. This means it probably hosts harmful plugins that could either get you into trouble with discord, or steal user account info. Please stay safe, and download from official sources only." !important;
	background-position: bottom right !important;
	background-size: 100px !important;
	padding-left: 10px !important;
	padding-right: 100px !important;
}
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="www.discordsource." i][href*="/preview" i]::before,
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="://discordsource." i][href*="/preview" i]::before,
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="www.betterdocs." i][href*="/preview" i]::before,
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="://betterdocs." i][href*="/preview" i]::before {
	background-position: top !important;
	background-size: 30% !important;
	padding-right: 10px !important;
}

body #app-mount .markup-2BOw-j .anchor-3Z-8Bb:not(.channelLink-2TxEu3):not(.guildsError-3cFMtY):not(.guildsError-b7zR5H):not(.embedAuthorName-3mnTWj):not(.downloadButton-1bWXpg):not(.downloadLink-1ywL9o)[href*="discordapp.com/invite/D4cAkXX" i] {
	color: transparent !important;
	cursor: not-allowed !important;
	letter-spacing: -1000px !important;
	pointer-events: none !important;
}

body #app-mount .markup-2BOw-j .anchor-3Z-8Bb[href*="discordapp.com/invite/D4cAkXX" i]::after {
	content: "Harmful invite detected - BetterDocs/DiscordSource" !important;
	color: var(--warningbdbred) !important;
	font-weight: 600 !important;
	letter-spacing: 0 !important;
	pointer-events: none !important;
}

body #app-mount .wrapper-35wsBm .icon-3o6xvg[style*="/icons/153708594091655168" i]::before {
	content: "BetterDocs/DiscordSource is not an official source of themes and plugins and should not be trusted. The creator posts content without permission and it may have harmful plugins. Do not use BetterDocs/DiscordSource." !important;
	background-position: left !important;
	background-size: auto 100% !important;
	font-size: 15px !important;
	padding-left: 110px !important;
	padding-right: 10px !important;
}
body #app-mount .wrapper-35wsBm .icon-3o6xvg[style*="/icons/153708594091655168" i]::before,
body #app-mount .wrapper-35wsBm .icon-3o6xvg[style*="/icons/153708594091655168" i]::after {
	height: 100px !important;
	margin-top: -35px !important;
	margin-left: -10px !important;
	width: 450px !important;
}

body #app-mount .wrapper-35wsBm .icon-3o6xvg[style*="/icons/153708594091655168" i] ~ .button-3To2tQ {
	display: none !important;
}

body #app-mount .guildIcon-VlWW86[style*="/icons/153708594091655168"] {
	background-image: var(--warningbdbguildlogo) !important;
}

body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="www.discordsource." i]::after,
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="://discordsource." i]::after,
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="www.betterdocs." i]::after,
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="://betterdocs." i]::after,
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="www.betterdiscord.net" i]::after,
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="://betterdiscord.net" i]::after,
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="www.betterdiscordlibrary.com" i]::after,
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="://betterdiscordlibrary.com" i]::after {
    background-repeat: no-repeat !important;
    border-radius: 0 5px !important;
    color: #FFF !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 1.3 !important;
    padding: 1px 4px 1px 18px !important;
    pointer-events: none !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
	z-index: 3 !important;
}
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="www.betterdiscord.net" i]::after,
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="://betterdiscord.net" i]::after,
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="www.betterdiscordlibrary.com" i]::after,
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="://betterdiscordlibrary.com" i]::after {
    background-image: url('https://github.com/DerAdministrator/Neon-Space-X/blob/master/K.png') !important;
    background-position: 2px !important;
    background-size: 15% !important;
}
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="www.betterdiscord.net" i]::after,
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="://betterdiscord.net" i]::after {
    content: "Official Source" !important;
    background-color: #43B581 !important;

}
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="www.betterdiscordlibrary.com" i]::after,
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="://betterdiscordlibrary.com" i]::after {
    content: "Trusted Source" !important;
    background-color: #FAA61A !important;
}
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="www.discordsource." i]::after,
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="://discordsource." i]::after,
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="www.betterdocs." i]::after,
body #app-mount .embed-IeVjo6 .embedLink-1G1K1D[href*="://betterdocs." i]::after {
    content: "Unsafe Source" !important;
    background-color: #F04747 !important;
    background-image: url('https://github.com/DerAdministrator/Neon-Space-X/blob/master/K.png') !important;
    background-position: 3px !important;
    background-size: 14% !important;
}

.publicServersOpen ~ #pubslayerroot:empty:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #36393f;
}
.publicServersOpen ~ #pubslayerroot:empty:after {
	content: "Caution: \a \a If you are seeing this, then the public server page is broken. Try exiting this screen via [ESC] or via a mouseclick, if this does not work try pressing [Ctrl] + [,]. This should open your Usersettings, after closing the settings your screen should be back to normal. In case this does not work either youc can try to press [Ctrl] + [R]. Your client will reload and your screen should be back to normal. Either wait till the feature is fixed and stop clicking the 'public' button or disable the button in [Usersettings → Settings → Public Servers]. \a Please do not ask about this in the support servers, you will get the same answer in there. There is nothing you can do to fix this except for waiting.";
	position: absolute;
	display: inline;
	margin-top: auto;
	top: 25vh;
	right: 10vw;
	left: 10vw;
	background: #202225;
	border-radius: 10px;
	white-space: pre-wrap;
	padding: 5vh 5vw;
	font-size: 20px;
	line-height: 30px;
	color: #DDD;
}
